@charset "utf-8";
/* html {scroll-behavior:smooth;} */

:root {
	--main-color:#093588;
	--stock-up:#fc5757;
	--stock-dn:#5796fc;
}

html.flexCol {height:100%;}
html.flexCol .wrap {display:flex; flex-direction:column; justify-content:space-between; width:100%;}
html.flexCol .wrap section {flex:1}
body {height:100%; font-size:16px; letter-spacing:-0.05em;}
button {font-family:'Noto Sans KR';}
@media screen and (max-width:360px) {
	body {font-size:16px;}
}

@media screen and (max-width:320px) {
	body {font-size:13.65333px;}
}


.wrap {width:100%; max-width:750px; height:100%; margin:0 auto;}

/* header {
	padding-top: calc(constant(safe-area-inset-top) + 0px);
	transition:box-shadow 0.3s;
} */

header {position:-webkit-sticky; position:sticky; top:0; margin-bottom:1.25em; background-color:#fff; z-index:0; /*transition:all 0.2s;*/}
header h1 {height:3em; text-align:center; line-height:3em;}
header.active {box-shadow:0 3px 6px rgba(0,0,0,0.06);}
header .util-btn {position:absolute; top:0; width:3em; height:3em; background-color:#ff6600; color:#fff;}
header .util-btn.prev,
header .util-btn.back {left:0;}
header .util-btn.close {right:0;}
header .util-btn button {width:100%; height:100%; background-color:#fff;}
header .util-btn button span {position: relative; z-index:-1;}

header .util-btn.prev button::before, 
header .util-btn.back button::before {content:""; position:absolute; top:50%; left:50%; width:22.91666%; height:22.91666%; border-width:2px 0 0 2px; border-style:solid; border-color:#222; transform: rotate(-45deg) translate(-31.25%, -31.25%); transform-origin: left top;}

header .util-btn.close button::before, 
header .util-btn.close button::after {content:""; position:absolute; top:50%; left:50%; width:40%; height:2px; background-color:#222; border-radius:100px;}
header .util-btn.close button::before {transform:translate(-50%,-50%) rotate(45deg)}
header .util-btn.close button::after {transform:translate(-50%,-50%) rotate(-45deg)}


.header {z-index:10;}
.gnb {display:flex; justify-content:space-between; position:relative; width:100%; padding:0 20px;}
.gnb::after {content:""; position:absolute; bottom:0; left:0; width:100%; height:1px; background-color:#eee;}
.gnb li {max-width:100%; text-align:center; align-items:center;}
.gnb li a {display:block; position:relative; height:3em; padding:0 4px; color:#111; line-height:3em; text-decoration:none; opacity:0.3;}
.gnb li.active a {font-weight:bold; opacity:1;}
.gnb li.active a::before {content:""; position:absolute; bottom:0; left:0; width:100%; height:2px; background-color:#111; z-index:1;}


section {flex:1; padding-bottom:4em;}

/* 푸터 공통 */
footer {padding:2.25em 1em; padding:2.25em 1em calc(constant(safe-area-inset-top) + 2.25em) 1em; background-color:rgba(221,221,221,0.55); color:#aaa; text-align:center;}
footer a {display:inline-block; position:relative; color:#aaa; text-decoration:none;}
footer ul.site_info {display:flex; justify-content:center; align-items:center; margin-bottom:1em;}
footer ul.site_info li {display:flex; align-items:center;; position:relative;}
footer ul.site_info li a {padding:0 1.70833em; font-size:0.75em;}
footer ul.site_info li a strong {display:inline-block;}
footer ul.site_info li + li::before {content:""; position:absolute; top:50%; left:0; width:1px; height:83.33333%; background-color:#ddd; transform:translateY(-50%);}
footer a.tel {text-decoration:underline;}
footer dl {font-size:0.75em; line-height:1.666666;}
footer dl dt {display:none; font-weight:bold;}
footer dl dd {}
/* 유료가입 버튼 */
footer .btn {margin-top:1.5em;}
footer .btn button {display:block; width:100%; height:3.5em; background-color:var(--kt-btn-color); border-radius:8px; color:#fff; text-align:center; overflow:hidden; box-shadow:0 5px 10px rgba(0,0,0,0.2);}
footer .btn button strong {display:block; line-height:1.25em;}
footer .btn button span {display:block; font-size:0.75em; line-height:1.25em;}
footer .btn.fixed {height:3.5em;}
footer .btn.fixed button {position:fixed; bottom:2.25em; left:50%; right:1em; width:calc(100% - 2em); max-width:718px; transform:translateX(-50%); z-index:1;}


/* toTop */
.toTop {position:fixed; right:17px; bottom:-30px; width:1.8125em; height:1.8125em; background-color:rgba(0,0,0,0.25); opacity:0; transition:0.15s all ease-in-out; z-index:1000; text-indent:-1000em; overflow:hidden;}
.toTop::before {content:""; display:block; position:absolute; top:50%; left:50%; width:22%; height:22%; border-width:2px 2px 0 0; border-style:solid;  border-color:#fff; transform:translate(-50%,-50%) rotate(-45deg);}
.toTop.active {bottom:1em; opacity:1; border-radius:2px;}



/* 가로 스크롤 형식 */
.scroll-wrapper {overflow-y:hidden; overflow-x:auto; -webkit-overflow-scrolling:touch;}
.scroll-wrapper::-webkit-scrollbar {display:none !important;}
.scroll-wrapper .scroll {display:-webkit-inline-box; display:-webkit-inline-flex; display:inline-flex;}
.scroll-wrapper .scroll .item {white-space:nowrap;} /* 구분 칸 */
.scroll-wrapper .scroll .item div {box-sizing:border-box;} /* 사용자 수정 가능 */
@media screen and (max-width:720px) {

}



.stock_up {color:#ff6600; color:var(--stock-up);}
.stock_dn {color:#0066ff; color:var(--stock-dn);}

/* 말줄임 css 한줄, 두줄, 세줄 */
.ellipsis {white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.ellipsis2 {white-space:normal; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical;}
.ellipsis3 {white-space:normal; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical;}



/* 공지사항, 일반 게시판 */
.board_wrap {padding:0 1.125em;}
/* 게시판 list */
.board_list {padding:0;}
.board_list .item {position:relative; padding:1.125em 0;}
.board_list .item + .item {border-top:1px solid #eee;}
.board_list .item:first-of-type {padding-top:0;}
.board_list .item p {position:relative; color:#111; white-space:nowrap; overflow:hidden; word-wrap:normal; text-overflow:ellipsis;}
.board_list .item span.date {display:inline-block; margin-top:0.41666em; color:#aaa; font-size:0.75em; line-height:1.25em;}
.board_list .item span.new {margin-left:10px; font-size:0.75em; width:16px; height:16px; line-height:16px; border-radius:3px; text-align:center; background-color:#222; color:#fff;}
.board_list .more {box-sizing:border-box; display:block; padding:20px;}
.board_list .more button {width:100%; padding:15px; background-color:#fff; border:1px solid #f92828; border-radius:8px; color:#f92828;}
.board_list .more span {position:relative;}
/* animation-name:icon-new-wiggle; animation-duration:3s; animation-iteration-count:infinite;
@keyframes icon-new-wiggle { 0% {transform:translateX(2px);} 4% {transform:translateX(-1px);} 8% {transform:translateX(2px);} 12% {transform:translateX(-1px);} 16% {transform:translateX(2px);} 20% {transform:translateX(0px);} }
*/

 /* 게시판 view */
.board_view {}
.board_view .board_title .inner {padding-bottom:1.25em; border-bottom:1px solid #eee;}
.board_view .board_title h2 {font-size:1.125em;}
.board_view .board_title span.date {font-size:0.75em; color:#aaa;}
.board_view .board_content {padding:1.5em 0; color:#111; font-size:0.9375em; line-height:1.46666em;}
.board_view .board_content .inner img {display:block; max-width:100%; width:auto; height:auto; margin:0 auto;}

 /* 게시판 하단 버튼 */
.board_footer {/*position:-webkit-sticky; position:sticky; bottom:0;*/}
.board_footer div.btn_wrap {box-sizing:border-box; /* position:fixed; right:0; bottom:0; left:0; margin-top:20px; */ padding:20px 0; background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); z-index:1;}
.board_footer button {display:block; width:100%; padding:15px;  background-color:#fff; border:1px solid var(--main-color); border-radius:8px; color:var(--main-color);}

.event_footer {min-height:62px;}
.event_footer .btn_wrap {position:fixed; right:0; bottom:0; left:0; padding:10px 0 0; /* background-color:#fff; */ text-align:center; z-index:1;}
.event_footer .btn_wrap button {display:block; width:100%; height:52px; margin:0 auto; background-color:var(--main-color); color:#fff;}