@charset "utf-8";
:root {
    --main-color: #093588;
	--kt-btn-color: #212121;
}

/* 섹션  타이틀 */
.sectionTitle {position:relative; padding:0 1.125em 1.25em;}
.sectionTitle div.title {display:flex; flex-direction:row; justify-content:space-between; position:relative; font-size:1.125em;}
.sectionTitle div.title div:first-of-type {display:flex; }
.sectionTitle div.title div:first-of-type h3 {display:inline-block; height:21px; line-height:21px;}
.sectionTitle div.title select {position:relative; padding-right:1.125em; border:0 none; background:url('../images/temp/icon_bul.png') no-repeat right center; background-size:9px auto; color:#aaa; font-size:0.75em; font-size:12px; line-height:21px;}
.sectionTitle div.title div.more {background-color:#fff;}
.sectionTitle div.title div.more a {display:block; width:1em; height:100%;}
.sectionTitle div.title div.more a span {text-indent:-1000px; font-size:0;}
.sectionTitle div.title div.more a::before {content:""; position:absolute; top:50%; right:0; width:0.5em; height:0.5em; border-width:2px 2px 0 0; border-style:solid; border-color:#111; transform:rotate(45deg) translate(-30%, 30%) ; transform-origin:100% 0;}
.sectionTitle div.subTitle {margin-top:6px; color:#aaa; font-size:12px;}
.sectionTitle div.tab {display:flex; margin-top:0.5em; overflow:hidden;}
.sectionTitle div.tab button {position:relative; margin:0; padding:0 0 0 1em; border:0 none; color:#aaa; font-size:0.75em; font-weight:bold; line-height:1.25em;}
.sectionTitle div.tab button span {display:inline-block;}
.sectionTitle div.tab button + button {margin-left:1.083333em;}
.sectionTitle div.tab button::before {content:""; display:block; position:absolute; top:50%; left:0; width:0.66666em; height:0.45833em; border-width:0 0 1px 1px; border-style:solid; border-color:#aaa; transform: rotate(-45deg); transform-origin:0 0;}
.sectionTitle div.tab button.active {color:var(--main-color);}
.sectionTitle div.tab button.active::before {border-width:0 0 2px 2px; border-color:var(--main-color);}



/* 증권 상세 타이틀 */
.stockViewTitle {display:flex; justify-content:space-between; align-items:center; padding:0 1.125em;}
.stockViewTitle span.week {align-self:center; width:3.2em; margin:0 12px 0 4px; background-color:#222; color:#fff; border-radius:100em; font-size:0.625em; line-height:2em; overflow:hidden; text-align:center;}
.stockViewTitle span.week1 {background-color:#FFECD6; color:#FF7926;}
.stockViewTitle span.week2 {background-color:#D4F2E6; color:#08B46E;}
.stockViewTitle span.week3 {background-color:#DBF1FF; color:#328CF5;}
.stockViewTitle span.week4 {background-color:#ECE5FF; color:#793FFA;}
.stockViewTitle div.tit {display:flex; flex:1; align-items:center;}
.stockViewTitle h3 {font-size:1.375em; font-weight:700;}
.stockViewTitle span div.tit h3 {font-weight:700;}
.stockViewTitle div.share {width:2em; height:2em;}
.stockViewTitle div.share button {width:100%; height:100%; background:#fff url('../images/temp/ico_share.png') no-repeat left top; background-size:contain;}
.stockViewTitle div.share button span {position:relative; z-index:-1;}

/* 무료페이지용 더보기 버튼 */
.stockViewTitle div.shareMoreTriger {width:2em; height:2em; margin-left:0.5em;}
.stockViewTitle div.shareMoreTriger button {width:100%; height:100%; background:#fff url('../images/temp/ico_arrow_updown.png') no-repeat right center; background-size:64px 32px;}
.stockViewTitle div.shareMoreTriger button span {position:relative; z-index:-1;}



/* 툴팁(도움말 아이콘 */
div.tooltip {display:inline-flex; margin-left:0.5em;}
div.tooltip button,
div.tooltip a {display:inline-flex; align-items:center; justify-content:center; text-align:center; text-decoration:none;}
div.tooltip button::before,
div.tooltip a::before {content:""; display:inline-block; width:1.6em; height:1.6em; border-radius:100%; color:#aaa; font-size:10px; line-height:1.6em; background:url('../images/temp/ico_que.png') no-repeat left top; background-size:contain;}
div.tooltip button span,
div.tooltip a span {display:none;}



/* 증권 상세 상단 그래프 */
.stockGraphWrap {margin-top:1.5em; padding:0 1.25em 0; border-bottom:0.5em solid #f5f5f5;}
.stockGraphWrap .graph_info_tit {position:relative; margin-top:20px; padding-bottom:1.5em;}
.stockGraphWrap .graph_info_tit .tit {display:flex; justify-content: flex-start; align-items:center;}
.stockGraphWrap .graph_info_tit .tit h4 {font-size:0.9375em; line-height:1.26666}
.stockGraphWrap .graph_info_tit .date {margin-top:0.36363em; color:#aaa; font-size:0.6875em; line-height:1.125em;}
.stockGraphWrap .graph_info_tit .per {position:absolute; top:0; right:0;}
.stockGraphWrap .graph_info_tit .per strong {font-size:1.75em;}
.stockGraphWrap .graph_info_tit .per span {font-size:1.5em;}
.stockGraphWrap .graph_tab {display:flex; justify-content:space-around; align-items:center; margin-top:0.75em;}
.stockGraphWrap .graph_tab button {width:100%; color:#aaa; font-size:0.75em;}
.stockGraphWrap .graph_tab button.active {color:var(--main-color); font-weight:bold;}

.stockGraphWrap div.graph {padding:0em 0 2.375em;}


i.new {
	width:1.125em; height:1.125em;
	background-color:var(--main-color);
	background-image:url('../images/temp/ico_new.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
	border-radius:100%;
	overflow:hidden;
}
i.new span {font-size:0;}






/* 메인 배너 */
/* .main_bnr {padding:0 1.125em 0;} */
.bnr_list {position:relative;}
.bnr_list * {vertical-align:top;}
.bnr_list .item {border-radius:9px; overflow:hidden;}
.bnr_list .slide_wrap {}
/* .bnr_list .slick-list {border-radius:9px; overflow:hidden;} */
.bnr_list .slick-slide {padding:0 1.125em;}
.bnr_dots {position:absolute; right:1.5em; bottom:0.375em;}
.bnr_dots::after {content:""; display:block; height:0; clear:both;}
.bnr_dots li {display:inline-block; float:left; width:0.375em; height:0.375em; background-color:#fff; border-radius:0.375em; opacity:0.5;}
.bnr_dots li + li {margin-left:3px;}
.bnr_dots li.slick-active {width:0.75em; opacity:1;}
.bnr_dots li button {width:100%; height:100%; font-size:0;}

.bnr_dots.top {position:absolute; right:10px; bottom:auto; top:10px;}

/* 중간 띠배너 */
.bnr_line {margin-top:2em; padding:0 1.125em;}


/* 스크롤형 */

/* 메인 오늘의 주요 뉴스 */
.news-scroll {padding:0 1.0625em; padding-top:0.5em;}
.news-scroll .item + .item {margin-left:0.75em;}
.news-scroll .item-news {width:146px;}
.news-scroll .item-news dt {border-radius:0.5em; overflow:hidden;}
.news-scroll .item-news dt img {height:100px; vertical-align:top;}
.news-scroll .item-news dd {margin-top:1em; color:#111; font-size:0.9375em; line-height:1.33333em; white-space:normal;
	overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical;
}

/* 메인 로보포트폴리오 */
.roboAI-scroll {padding:0 1.0625em; padding-top:0.5em;}
.roboAI-scroll .item + .item {margin-left:0.75em;}
.itemClassName {width:8em; height:8.625em; padding:18px 16px 16px; background-color:#f9f9f9; border-radius:0.5em;}
.itemClassName dl {display:flex; flex-direction:column; justify-content:space-between; height:100%;}
.itemClassName dl dt {flex:1; font-size:1.125em; font-weight:bold; line-height:1.16666em;}
.itemClassName dl dd {align-self:flex-end;}
.itemClassName dl dd.date {color:rgba(0,0,0,0.5); font-size:0.75em; line-height:1.08333em;}
.itemClassName dl dd.per {margin-top:0.5em; line-height:1.3125em;}
.itemClassName dl dd.per strong {font-size:1.5em;}
.itemClassName dl dd.per span {font-size:1.125em;}

.marketGroup .marketTit {position:relative; margin:0 1.125em; font-weight:bold;;}
.marketGroup {margin-top:1em;}
.marketGroup + .marketGroup .marketTit {padding-top:1.25em;}
.marketGroup + .marketGroup .marketTit::before {content:""; display:block; position:absolute; top:0; left:0; width:100%; border-top:1px solid #999999;}

/*** 목록형 ***/
.item-list {position:relative;}
/*.item + .item .item_box {border-top:1px solid #eee;}*/
.item-list .item .item_box {margin:0 1.125em; padding:1.25em 0; border-bottom:1px solid #eee;}
.item-list .item .item_box.active {border-color:transparent;}
.item-list .item:last-of-type .item_box {border-color:transparent;}
.item-list .item .item_box.largeBox {padding:1.875em 0;}
.item-list .item + .item .item_box {}
.item-list .item {transition:background-color 0.15s;}
.item-list .item.active {background-color:#f9f9f9;}
.item-list .item.active .item_box {/* border-color:transparent; */}


/* 투자전략 메인 리스트 */
.item.roboAI .item_box {display:flex; flex-direction:row; padding:1.5em 0; justify-content:space-between;}
.item.roboAI .item_box > span:first-of-type {align-self:center; width:3.2em; margin:0 12px 0 4px; background-color:#222; color:#fff; border-radius:100em; font-size:0.625em; line-height:2em; overflow:hidden; text-align:center;}
.item.roboAI .item_box > span:first-of-type.week1 {background-color:#FFECD6; color:#FF7926;}
.item.roboAI .item_box > span:first-of-type.week2 {background-color:#D4F2E6; color:#08B46E;}
.item.roboAI .item_box > span:first-of-type.week3 {background-color:#DBF1FF; color:#328CF5;}
.item.roboAI .item_box > span:first-of-type.week4 {background-color:#FFE5FB; color:#fa3f87;}
.item.roboAI .item_box > span:first-of-type + div {position:relative;}
.item.roboAI .item_box > div.per {font-size:1.375em;}
.item.roboAI .item_box > div.per strong {font-weight:700;}
.item.roboAI .item_box > div:first-of-type {flex:1;}
.item.roboAI .item_box > div:first-of-type p {display:inline-block; color:#111; font-size:1.125em; font-weight:bold; line-height:1.16666em;}
.item.roboAI .item_box > div:first-of-type p + i.new {display:inline-block; position:absolute; width:1.125em; height:1.125em; margin-left:0.5em; line-height:1.125em;}
.item.roboAI .item_box > div:first-of-type span.date {display:block; margin-top:0.5em; color:#aaa; font-size:0.75em; line-height:1.125em;}
.item.roboAI .item_box > div:first-of-type span::before {content:""; display:block; height:0; clear:both;}

/* 목록 - 뉴스 */
.item-list.newsList .item_box {display:flex; align-items:center; min-height:6.5em; padding:0.75em 0; border:0 none;}
.item-list.newsList .item:first-of-type .item_box {min-height:5.715em; padding-top:0;}
.item-list.newsList .item_box div.thum {width:7.25em; border-radius:0.5em; overflow:hidden;}
.item-list.newsList .item_box div.thum img {vertical-align:top;}
.item-list.newsList .item_box div.thum + div.txt {padding-left:1.125em;}
.item-list.newsList .item_box div.txt {flex:1;}
.item-list.newsList .item_box div.txt p {color:#111; line-height:1.3125em; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical;}
.item-list.newsList .item_box div.txt span {display:inline-block; margin-top:0.5em; color:#aaa; font-size:0.75em;}

/* 목록 - 테마 */
.item-list.themaList {}
.item-list.themaList .item_box {padding:1.5em 0;}
.item-list.themaList .item:first-of-type .item_box {padding-top:0;}
.item-list.themaList .item_box dl {position:relative;}
.item-list.themaList .item_box dl dt {color:#111; font-size:1.125em; line-height:1.16666em; font-weight:bold;}
.item-list.themaList .item_box dl dd.txt {margin-top:0.57142em; color:#999; font-size:0.875em; line-height:1.28571em;}
.item-list.themaList .item_box dl dd.per {position:absolute; top:0; right:0; font-size:1.375em; line-height:0.95454em; overflow:hidden;}

/* 목록 - 리포트 */
.item-list.reportList .item .item_box {border-top:1px solid #eee;}
.item-list.reportList .item_box {display:flex; align-items:center; min-height:6.5em; padding:1.125em 0.25em; border:0 none;}
.item-list.reportList .item:first-of-type .item_box {min-height:5.715em; padding-top:0;}
.item-list.reportList .item_box div.thum {width:7.25em; border-radius:0.5em; overflow:hidden;}
.item-list.reportList .item_box div.thum img {vertical-align:top;}
.item-list.reportList .item_box div.thum + div.txt {padding-left:1.125em;}
.item-list.reportList .item_box div.txt {flex:1;}
.item-list.reportList .item_box div.txt strong {display:inline-block; padding-bottom:0.5em; color:#aaa; font-size:0.6875em;}
.item-list.reportList .item_box div.txt p {color:#111; line-height:1.3125em; font-weight:700; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical;}
.item-list.reportList .item_box div.txt span {display:inline-block; margin-top:0.5em; color:#aaa; font-size:0.75em;}

.item-list.reportList .report_thum_wrap {display:flex; width:100%; padding:0 1.125em;}
.item-list.reportList .report_thum_wrap .item_box {display:block; width:100%; padding:1.125em 0em;}

.item-list.reportList .report_thum_wrap .item_box div.thum {width:100%; border-radius:0.5em; overflow:hidden;}
.item-list.reportList .report_thum_wrap .item_box div.thum img {vertical-align:top;}
.item-list.reportList .report_thum_wrap .item_box div.thum + div.txt {}

.item-list.reportList .report_thum_wrap .item_box + .item_box {margin-left:0.75em;}
.item-list.reportList .report_thum_wrap .item_box div.thum + div.txt {padding:0;}
.item-list.reportList .report_thum_wrap .item_box div.txt strong {margin-top:1em;}
.item-list.reportList .report_thum_wrap .item_box div.txt p {font-size:0.9375em;}


/* 보기 타이틀 - 리포트 */
.reportViewTitle {padding:0 1.5em 1.5em;}
.reportViewTitle div.tit h3 {color:#111; font-size:1.375em;}
.reportViewTitle div.tit div.date {display:block; margin-top:0.66666em; color:#aaa; font-size:0.75em;}

.reportContent_wrap {border-top:0.5em solid #f5f5f5;}
.reportContent_wrap + .groupBox {margin-top:0; padding-top:40px; border-top:0.5em solid #f5f5f5;}


/* 종목랭킹표 */
.item_table {margin-top:2em;}
.item_table .item_thead,
.item_table .item_box {display:flex; justify-content:space-between; align-items:center;}
.item_table .item_box {min-height:3.5em;}
.item_table .tit {flex:1;}

.item_table .item_thead {color:#aaa; text-align:left; font-weight:normal; text-align:center;}
.item_table .item_thead div.num {width:1.5em; font-size:1.25em;}
.item_table .item_thead div.num ~ div {font-size:0.75em;}
.item_table .item_thead div.tit {text-align:left;}
.item_table .item_thead div.tit ~ div {width:16%; justify-content:center;}


.item_table .item_box div {display:flex; vertical-align:middle; align-items:center;}
.item_table .item_box div.num {width:1.5em; color:#ccc; font-size:1.25em;}
.item_table .item_box div.tit {flex:1; color:#111; overflow:hidden; overflow-x:auto;}
.item_table .item_box div.tit span {display:block; display:inline-block; white-space:nowrap; transition:font-size .15s;}
.item_table .item_box div.tit span.small {font-size:0.75em;}
.item_table .item_box div.tit ~ div {width:16%; height:3em; text-align:center; justify-content:center;}

.item_thead {padding:0 1.125em;}
.item.table {padding:0 1.125em;}
.item_table .item + .item .item_box {border-top:1px solid #eee;}


/* 테마 정보 */
.thema_info {padding:0 1.5em 1.5em 1.5em; border-bottom:0.5em solid #f5f5f5;}
.thema_info dl {}
.thema_info dl dt {color:#111; font-weight:bold; font-size:1.375em;}
.thema_info dl dd {margin-top:0.85714em; color:#999; font-size:0.875em; line-height:1.3em;}


/* 목록형 블라인드 */
.item-list .blind {display:none; position:absolute; left:0; right:0; bottom:0; top:0; padding:0 1.125em; text-align:center; }
.item-list .blind div.box {display:flex; flex-direction:column; justify-content:center; align-items:center; position:relative; width:100%; height:100%;}
.item-list .blind::before {
	content:"";
	position:absolute; top:0; left:0;
	width:100%; height:100%; 
	background: rgba(255,255,255,0.5);
	-webkit-backdrop-filter:blur(1px); backdrop-filter: blur(1px);
}


/* .item-list .blind div.box::before {content:""; display:block; position:absolute; top:50%; left:50%; right:0; height:50%; background-color:rgba(255,255,255,0.5); border-radius:100%; box-shadow:0 0 50px rgb(255,255,255); transform: translateX(-50%) translateY(-50%); z-index:0;} */
.item-list .blind div.box dl {position:relative; z-index:0;}
.item-list .blind div.box dl dt {font-size:1.125em;}
.item-list .blind div.box dl dd {margin-top:0.5em;}
.item-list .blind div.box dl dd p {color:#999; font-size:0.875em; line-height:1.28571em;}
.item-list .blind div.box div.btn {position:relative; z-index:0;}
.item-list .blind div.box div.btn button {height:3em; margin-top:1.25em; padding:0 2em; background-color:#fff; border:1px solid var(--main-color); border-radius:0.375em; color:var(--main-color); font-weight:bold;}


/* 목록형 블라인드 */
.itemBlind {display:none; position:absolute; left:0; right:0; bottom:0; top:0; padding:0 1.125em; text-align:center; }
.itemBlind div.box {display:flex; flex-direction:column; justify-content:center; align-items:center; position:relative; width:100%; height:100%;}
.itemBlind::before {content:""; position:absolute; top:0; left:0; width:100%; height:100%;  background: rgba(255,255,255,0.5); -webkit-backdrop-filter:blur(1px); backdrop-filter: blur(1px);}
.itemBlind div.box dl {position:relative; z-index:0; text-shadow:0 0 5px #fff;}
.itemBlind div.box dl dt {font-size:1.125em;}
.itemBlind div.box dl dd {margin-top:0.5em;}
.itemBlind div.box dl dd p {color:#999; font-size:0.875em; line-height:1.28571em;}
.itemBlind div.box div.btn {position:relative; z-index:0;}
.itemBlind div.box div.btn button {height:3em; margin-top:1.25em; padding:0 2em; background-color:#fff; border:1px solid var(--main-color); border-radius:0.375em; color:var(--main-color); font-weight:bold;}
.itemBlind.free p {font-weight:bold; line-height:1.375em;}
.itemBlind.free p span {color:var(--main-color);}
.blur {
	-webkit-filter: blur(4px);
	-moz-filter: blur(4px);
	-o-filter: blur(4px);
	-ms-filter: blur(4px);
	filter: blur(4px);
	opacity: 0.9;
}






.groupBox {margin-top:40px;}
.groupBox:first-of-type {margin-top:0; padding-top:0.5em;}
.groupBox + .groupBox {margin-top:3em}
.groupBox .sectionTitle {padding-bottom:0.5em;}


/* 스탁 상세 상단 */



/* 상세 주문하기 */
.stock_order {position:-webkit-sticky; position:sticky; left:0; bottom:0; width:100%; margin-top:2em; padding:0 1em 1em 1em; z-index:1;}
.stock_order button {display:block; width:100%; height:3.5em; background:var(--main-color); border-radius:0.5em; color:#fff; font-weight:bold; box-shadow:0 5px 10px rgba(0,0,0,0.2);}




/* 날짜 선택 */
div.date-picker {display:flex; align-items:center; justify-content:center; position:relative; margin:0 1em 1em; margin-bottom:0; padding:1em 0;}
div.date-picker button {width:32px; height:32px; background-image:url('../images/temp/icon_date.png'); background-repeat:no-repeat; background-size:64px 64px; font-size:0;}
div.date-picker button.prev {background-position:0 -32px;}
div.date-picker button.next {background-position:-32px -32px;}
div.date-picker button:disabled.prev {background-position:0 0;}
div.date-picker button:disabled.next {background-position:-32px 0;}
div.date-picker button.btn_picker {position:absolute; top:50%; right:0; background-image:url('../images/temp/ico_calendar.png'); background-repeat:no-repeat; background-size:32px 32px; transform:translateY(-50%);}

div.date-picker strong {display:block; font-size:1.375em;}
div.date-picker span {display:block; margin-top:0.5em; color:#aaa; font-size:0.75em; line-height:1.25em;}
div.date-picker div.tit {padding:0 0.5em; text-align:center;}
.modal div.date-picker {padding:0;}
.modal div.date-picker strong {font-size:1.0625em;}





/* 검색 입력란 */
.search_wrap {padding:0.5em 1.125em 1.125em;}
.search_wrap div {position:relative; background-color:#f5f5f5;  border-radius:0.5em; overflow:hidden;}
.search_wrap div span {display:block; padding:17px; margin-right:62px;}
.search_wrap div input {width:100%; height:20px; border:0; background-color:transparent; color:#111; line-height:20px; font-weight:bold;}
.search_wrap div input::-webkit-input-placeholder {display:block; box-sizing:border-box; margin:0; padding:0; color:#aaa; font-size:inherit; font-weight:inherit; line-height:inherit;}

.search_wrap div button {position:absolute; top:0; right:6px; width:56px; height:56px; background:url('../images/temp/ico_search.png') no-repeat left top; background-size:contain;}

.search_result .noData {text-align:center;}
.search_result .noData dl {padding:3em 0 0 0;}
.search_result .noData dl dt {color:#111; font-size:1.125em;}
.search_result .noData dl dd {margin-top:8px; color:#999; font-size:0.875em;}





/* 오늘의 특징주 */
.txt-row {display:flex; flex-direction:row; justify-content:space-between; align-items:center;}

.txt-row div.num {width:1.8em; padding:0 0 0 0.2em; color:#ccc; /*font-size:1.125em;*/ font-size:1.1875em;}

.txt-row div.chk {align-self:center; position:relative; padding-right:0.5em;}
.txt-row div.chk label {display:block; position:relative; width:1.5em; height:1.5em; border-radius:100%;}
.txt-row div.chk label input {position:absolute; opacity:0; cursor:pointer; height:0; width:0; z-index:-1;}
.txt-row div.chk input[type="checkbox"] {position:absolute; top:0; left:0; width:100%; height:100%; border-radius:100%; overflow:hidden; display:block;}
.txt-row div.chk label span.checkmark {position:absolute; top:0; left:0; width:100%; height:100%; background-color:#ccc; border-radius:100%;}
.txt-row div.chk label span.checkmark::before {content:""; display:block; position:absolute; top:50%; left:50%; width:17px; height:7px; border-width:0 0 2px 2px; border-style:solid; border-color:#fff; transform-origin:0 100%; transform:rotate(-45deg) translateY(-30%);}
.txt-row div.chk label input:checked + span.checkmark {background-color:var(--main-color);}

.txt-row dl.info {display:flex; flex:1; justify-content:space-between; align-items:center;}
.txt-row dl.info dt {flex:1;}
.txt-row dl.info dt strong {display:block;}
.txt-row dl.info dt .small {font-size:0.75em;}
.txt-row dl.info dd {display:flex; align-items:center; position:relative;}
.txt-row dl.info dd.column {flex-direction:column; align-items:flex-end;}
.txt-row dl.info dd.column div {display:flex; align-items:center;}
.txt-row dl.info dd.column div:first-child {line-height:1.3125}
.txt-row dl.info dd.column div + div {margin-top:0.25em;}
.txt-row dl.info dd.column div + div strong {font-size:0.875em; letter-spacing:0;}
.txt-row dl.info dd.before {position:relative; margin-right:0.35714em; padding-right:1em; color:#999; font-size:0.875em;}
.txt-row dl.info dd.before::after {content:""; display:block; position:absolute; right:0; top:50%; width:0.4em; height:0.4em; border-width:1px 1px 0 0; border-style:solid; border-color:#aaa; transform:translate(-50%) rotate(45deg); transform-origin:100% 0 ;}
.txt-row dl.info dd span.txt {position:relative; top:1px; padding-right:0.5em; color:#aaa; font-size:0.75em;}
.txt-row dl.info dd.after {}

.txt-row div.btn button {position:relative; width:2em; height:2em; background-color:#fff; background:#fff url('../images/temp/ico_arrow_updown.png') no-repeat left top; background-position:-2em 0; background-size:4em 2em;}
.txt-row div.btn button span {position:relative; z-index:-10;}
.txt-row div.btn button.active {background-position:0 0;}
.txt-row i.new {position:absolute;top:0; left:0;  transform: translateX(-170%);}


.txt-row dl dd.per {margin-left:0.75em;}

.txt-row.type1 {}

.txt-row.type2 dl.info dt strong {font-size:1.125em;}
.txt-row.type2 dl.info dd strong {font-size:1.25em;}
.txt-row.type2 dl.info dt strong.small {font-size:1.0625em;}

.txt-row.type3 dl.info dt strong {font-size:1.125em;}
.txt-row.type3 dl.info dt strong.small {font-size:0.8125em;}

.txt-row.type4 dl.info dt strong {font-size:1.125em;}
.txt-row.type4 dl.info dd strong {font-size:1.375em;}



/* 주식 정보 */
div.info_exp {display:flex; justify-content:space-around; text-align:center; margin-top:1em;}
div.info_exp dl {display:block; position:relative;/* width:100%;*/}
div.info_exp dl {width:36%;}
div.info_exp dl:last-of-type {width:27%;}
div.info_exp dl + dl::before {content:""; display:block; position:absolute; top:50%; left:0; width:1px; height:50%; background-color:#eee; transform:translateY(-50%);}
div.info_exp dl dt span {display:inline-block; height:1.33333em; padding:0 0.25em; border-radius:0.33333em; color:#aaa; font-size:0.75em; line-height:1.33333em;}
div.info_exp dl dt span.sss {color:#fff; background-color:var(--main-color);}
div.info_exp dl dd {margin-top:0.375em;}
div.info_exp dl dd span {display:inline-block; color:#111; font-size:1.0625em; line-height:1.25em;}

.search_result {}
.search_result .item-group {position:-webkit-sticky; position:sticky; /*top:3em;*/ z-index:1;}
.item-group .group-date {padding:0.57142em 1.125em; background-color:#f2f2f2; color:#000;}
.item-group .group-date span {color:#999; font-size:0.875em; vertical-align:top;}


/* .item-list .item .item_box.toggle-tri.active {border-color:transparent;} */

.toggle-con {display:none;}
.summary_wrap {padding:1.5em; background-color:#f9f9f9; color:#111; font-size:0.9375em; line-height:1.4666em;}



/* 토글 컨텐츠 */
dl.summ {color:#111;}
dl.summ dt {font-size:0.9375em; font-weight:bold; line-height:1.26666em;}
dl.summ dd {margin-top:0.66666em; font-size:0.9375em; line-height:1.4666em;}



/* 주요 공시 공약 등 */
.quick_link {padding:0.5em 1.125em 0;}
.quick_link::after {content:""; display:block; height:0; clear:both;}
.quick_link li {display:inline-block; float:left; margin:0 0.5em 0.75em 0;}
.quick_link li a {display:flex; font-size:1em; line-height:2.75em; padding:0 1.75em; background-color:var(--main-color); border:2px solid var(--main-color); border-radius:100em; text-decoration:none; color:#fff; font-size:0.875em; font-weight:bold;} 
.quick_link.colorReverse li a {background-color:#fff; border:2px solid var(--main-color); color:var(--main-color);}





/* 무료페이지 구독하기 */
.bnr_subscribe {position:-webkit-sticky; position:sticky; top:0; margin-bottom:1.25em; z-index:11;}
.bnr_subscribe button {display:flex; justify-content:center; align-items:center; width:100%; height:4.5em; background-color:var(--main-color);}
.bnr_subscribe button span {color:#fff; letter-spacing:-0.05em;}
.bnr_subscribe button strong {display:inline-block; margin-left:1.36em; padding:0.71428em 1.14285em; background-color:#fff; border-radius:0.42857em; color:var(--main-color); font-size:0.875em;}

/* 무료페이지 더보기 메뉴 */
.shareMoreWrap {position:fixed; top:0; left:0; width:100%; background-color:#fff; z-index:11; display:none;}
.shareMoreWrap > div {display:flex; justify-content:space-between; align-items:center; padding:1.25em 1.125em; border-bottom:1px solid #ddd; }
.shareMoreWrap > div p {color:#111; font-weight:700; font-size:1.125em;}
.shareMoreWrap > div button.shareMoreClose {width:2em; height:2em; margin-left:0.5em; background:#fff url('../images/temp/ico_arrow_updown.png') no-repeat left center; background-size:64px 32px;}
.shareMoreWrap > div button.shareMoreClose span {position:relative; z-index:-1;}
.shareMoreWrap ul li {padding:0 1.125em;}
.shareMoreWrap ul li + li a {border-top:1px solid #ddd;}
.shareMoreWrap ul a {display:flex; align-items:center; width:100%; padding:1.125em 0; text-decoration:none;}
.shareMoreWrap ul a strong {color:#111; font-weight:700;}
.shareMoreWrap span.week {align-self:center; width:3.2em; margin:0 12px 0 4px; background-color:#222; color:#fff; border-radius:100em; font-size:0.625em; line-height:2em; overflow:hidden; text-align:center;}
.shareMoreWrap span.week1 {background-color:#FFECD6; color:#FF7926;}
.shareMoreWrap span.week2 {background-color:#D4F2E6; color:#08B46E;}
.shareMoreWrap span.week3 {background-color:#DBF1FF; color:#328CF5;}
.shareMoreWrap span.week4 {background-color:#ECE5FF; color:#793FFA;}
@media screen and (min-width:720px) {
	.shareMoreWrap {left:50%; width:100%; max-width:750px; transform:translateX(-50%);}
}


/* 메인 공지사항 */
.main_notice {}
.main_notice dl {display:flex; max-width:100%; padding:0.875em 0; border-top:1px solid #f2f2f2; justify-content:start; align-items:center; background-color:#f9f9f9;}
.main_notice dl dt {padding:0 0.75em 0 1.125em;}
.main_notice dl dt span {display:inline-block; width:3.5em; height:2em; font-size:0.75em; text-align:center; line-height:2em; border-radius:100px; background-color:#d0dcf2; color:var(--main-color); font-weight:bold;}
.main_notice dl dd {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.main_notice dl dd a {color:#111; text-decoration:none; font-size:0.9375em;}



/* 레이어 팝업 */
div.layer {display:none;}
div.layer_dim {position:fixed; top:0; right:0; bottom:0; left:0; height:100vh; background-color:rgba(0,0,0,0.5); animation-name:ani_opacity; animation-duration:0.2s; animation-iteration-count:1; z-index:10;}
@keyframes ani_opacity { 0% {opacity:0;} 100% {opacity:1;} }

/* 전체화면 팝업 */
div.layer.full {position:fixed; top:0; right:0; bottom:0; left:0; z-index:10000; overflow-y:auto; -webkit-overflow-scrolling:touch; background-color:rgb(255,255,255); animation-name:ani_full; animation-duration:0.2s; animation-iteration-count:1; }
div.layer.full .layer_content {padding:0 1.5em 1.5em; line-height:1.46666em; font-size:0.9375em;}
div.layer.full header {display:flex; align-items:center; justify-content:center; position:-webkit-sticky; position:sticky; top:0; width:100%; height:48px; background-color:#fff; text-align:center;/* transition:all 0.2s;*/}
div.layer.full header.active {box-shadow:0px 3px 6px rgba(0,0,0,0.06);}
div.layer.full header h1 {font-size:1em; font-weight:bold;}
div.layer.full .close {display:flex; justify-content:center; align-items:center; position:fixed; top:0px; right:0px; width:48px; height:48px; background-color:#fff; color:#fff; font-size:0;}
div.layer.full .close button {position:relative; width:100%; height:100%;}
div.layer.full .close button::before,
div.layer.full .close button::after {content:""; display:block; position:absolute; top:50%; left:50%; width:40%; height:2px; background-color:#222;}
div.layer.full .close button::before {transform:translate(-50%,-50%) rotate(45deg)}
div.layer.full .close button::after {transform:translate(-50%,-50%) rotate(-45deg)}
@keyframes ani_full { 0% {transform:scale(0.8); opacity:0;} 100% {transform:scale(1); opacity:1;} }


/* 전체화면 팝업 */
div.layer.agree {position:fixed;  top:1em; right:1em; bottom:1em; left:1em; max-height:100vh; z-index:10000; overflow-y:auto; -webkit-overflow-scrolling:touch; background-color:rgb(255,255,255); /* animation-name:ani_full; animation-duration:0.2s; animation-iteration-count:1; */ }
div.layer.agree .layer_content {padding:0 1.5em 1.5em; line-height:1.46666em; font-size:0.9375em;}
div.layer.agree header {position:-webkit-sticky; position:sticky; /* position:relative; */ top:0; width:100%; height:48px; background-color:#fff;/* transition:all 0.2s; */}
div.layer.agree header div.inner {position:fixed; top:0; left:0; width:100%; height:inherit; z-index:1000;}
div.layer.agree header.active div.inner {box-shadow:0px 3px 6px rgba(0,0,0,0.06);}
div.layer.agree header h1 {padding:0 0 0 22.5px; font-size:1em; font-weight:bold; text-align:left;}
div.layer.agree .close {/* display:flex; justify-content:center; align-items:center; */ position:fixed; top:1em; right:1em; width:48px; height:48px; background-color:#fff; color:#fff;}
div.layer.agree .close button {position:relative; width:100%; height:100%; font-size:0;}
div.layer.agree .close button::before,
div.layer.agree .close button::after {content:""; display:block; position:absolute; top:50%; left:50%; width:40%; height:2px; background-color:#222;}
div.layer.agree .close button::before {transform:translate(-50%,-50%) rotate(45deg)}
div.layer.agree .close button::after {transform:translate(-50%,-50%) rotate(-45deg)}


/* 모달팝업 */

/* 모달팝업 */
div.layer.modal .layer_inner {position:fixed; top:50%; left:20px; right:20px; /* max-height:40vh; */ transform:translateY(-50%); background-color:#fff; border-radius:0.5em; box-shadow:0 1px 10px rgba(0,0,0,0.5); overflow-y:auto; 
	/* animation-name:ani_modal; animation-duration:0.2s; animation-iteration-count:1; */
	transform:translateY(-50%);
	z-index: 10;
}
@keyframes ani_modal {
	0% {transform:translateY(-50%) scale(0.8); opacity:0;}
	100% {transform:translateY(-50%) scale(1); opacity:1;}
}

/* div.layer.modal dl {padding:2.75em 1em 0; color:#111; text-align:center;}
div.layer.modal dl dt {margin-bottom:0.5em; font-weight:bold; line-height:1.25em;}
div.layer.modal dl dd {font-size:0.9375em; line-height:1.46666em;} */
div.layer.modal dl.alert {padding:2.75em 1em 0; color:#111; text-align:center;}
div.layer.modal dl.alert dt {margin-bottom:0.5em; font-weight:bold; line-height:1.25em;}
div.layer.modal dl.alert dd {font-size:0.9375em; line-height:1.46666em;}
div.modal_btn {display:flex; justify-content:space-between; align-items:center; position:-webkit-sticky; position:sticky; left:0; bottom:0; width:100%; margin-top:2em; padding:0 12px;}
div.modal_btn div {width:100%; padding:0 4px 16px;}
div.modal_btn div button {width:100%; border-radius:0.625em; border:1px solid var(--kt-btn-color); line-height:3em; font-weight:bold;}
div.modal_btn div button.next {background-color:var(--kt-btn-color); color:#fff;}
div.modal_btn div button.close {background-color:#fff; color:var(--kt-btn-color);}

/* 달력 */
.layer .calender {padding-top:28px;}
.layer .calender div.month {display:flex; align-items:center; justify-content:center;}
.layer .calender div.month button {width:32px; height:32px; background-image:url('../images/temp/icon_date.png'); background-repeat:no-repeat; background-size:64px 64px; font-size:0;}
.layer .calender div.month button.prev {background-position:0 -32px;}
.layer .calender div.month button.next {background-position:-32px -32px;}
.layer .calender div.month button:disabled.prev {background-position:0 0;}
.layer .calender div.month button:disabled.next {background-position:-32px 0;}

.layer .calender div.month strong {display:block; font-size:1.0625em; line-height:1;}
.layer .calender div.month span {display:block; margin-top:0.33333em; color:#aaa; font-size:0.75em;}

.layer .calender div.month div.tit {text-align:center;}
.layer .calender ul {max-width:100%; margin:0 auto; padding:0 1.5em;
	display:grid;
	grid-column-gap:0px;
	grid-row-gap:3px;
	grid-template-columns:auto auto auto auto auto auto auto;
}
.layer .calender ul.week {position:relative;}
.layer .calender ul li {width:31px; height:31px; margin:0 auto; justify-content:center; align-items:center; text-align:center; line-height:31px}
.layer .calender ul li span {display:block; width:100%; height:100%; border-radius:100%; font-size:15px; line-height:31px; text-align:center; transition:background-color 0.05s, color 0.05s;}
.layer .calender ul li.active {}
.layer .calender ul li.active span {background-color:var(--main-color); color:#fff;}
.layer .calender ul.day li:nth-child(7n),
.layer .calender ul.day li:nth-child(7n + 1) {color:rgba(17,17,17,0.2)}
.layer .calender ul.week li {}




/* 도움말 팝업 */
.layer.help {position:absolute; top:0; padding:0 1.5em; z-index:2;}
.layer.help.active {animation-name:ani_help; animation-duration:0.2s; animation-iteration-count:1;}
.layer.help dl {padding:1em 1.125em;}
.layer.help dl dt {color:#111; font-size:0.875em; font-weight:bold; line-height:1.71428em;}
.layer.help dl dd {margin-top:0.33333em; color:#aaa; font-size:0.75em; line-height:1.66666em;}
.layer.help .layer_inner {position:relative; background-color:#fff; border:1px solid #ccc; border-radius:0.5em; box-shadow:0 3px 5px rgba(0,0,0,0.1);overflow:hidden;}
.layer.help .layer_inner .layer_content {padding:10px;}
.layer.help .layer_dim {display:none;}
.layer.help .close {position:absolute; top:0; right:0; width:2em; height:2em;}
.layer.help .close button {position:relative; width:2em; height:2em; color:#fff;}
.layer.help .close button span {font-size:0;}
.layer.help .close button::before,
.layer.help .close button::after {content:""; display:block; position:absolute; top:50%; left:50%; width:50%; height:1px; background-color:#aaa;}
.layer.help .close button::before {transform:translate(-50%,-50%) rotate(45deg)}
.layer.help .close button::after {transform:translate(-50%,-50%) rotate(-45deg)}
@keyframes ani_help {
	0% {transform:scale(0) translateY(30%); opacity:0;}
	100% {transform:scale(1) translateY(0%); opacity:1;}
}


/* 토스트 팝업 */
div.layer.toast {display:none; position:fixed; right:20px; bottom:20px; left:20px; animation-name:ani_toast; animation-duration:0.3s; animation-iteration-count:1;}
div.layer.toast > div {display:flex; justify-content:space-between; align-items:center; padding:4px; border-radius:100px; overflow:hidden; background-color:var(--main-color); box-shadow:2px 2px 4px rgba(0,0,0,0.15)}
div.layer.toast > div i {display:inline-block; width:2em; height:2em; background-color:#fff; border-radius:100%;}
div.layer.toast > div p {flex:1; padding:0 0.5em; color:#fff; text-align:left;}
div.layer.toast > div a {color:#fff; text-decoration:none;}
div.layer.toast .close button {position:relative; background-color:none; border:0 none; width:2em; height:2em;}
div.layer.toast .close button::before,
div.layer.toast .close button::after {content:""; display:block; position:absolute; top:50%; left:50%; width:50%; height:2px; background-color:#fff;}
div.layer.toast .close button::before {transform:translate(-50%,-50%) rotate(45deg)}
div.layer.toast .close button::after {transform:translate(-50%,-50%) rotate(-45deg)}
div.layer.toast .close button span {position:relative; z-index: -1;}
@keyframes ani_toast { 0% {transform: translateX(80%); opacity:0;} 100% {transform: translateX(0%); opacity:1;} }




/* 이벤트 팝업 */
.ev_layer {box-sizing:border-box; /*display:none;*/ position:fixed; top:0; left:0; width:100%; font-size:16px; z-index:3;}
.ev_layer * {box-sizing:border-box; box-sizing:border-box; margin:0; padding:0; list-style:none;}
.ev_layer img {max-width:100%;}

.ev_layer .triger {position:fixed; width:54px; height:54px; width:3.375em; height:3.375em; z-index:1; border-radius:100%; box-shadow:0 3px 6px rgba(0,0,0,0.16); overflow:hidden;}
.ev_layer .triger button {width:100%; height:100%; border:0; background-color:transparent; background-color:var(--main-color); outline:none;}
.ev_layer .triger button.open { background-image:url('../images/event/ev_triger_icon.png'); background-repeat:no-repeat; background-position:0 0; background-size:contain; }
.ev_layer .triger button.close {display:none; position:relative;}
.ev_layer .triger button.close::before,
.ev_layer .triger button.close::after {content:""; display:block; position:absolute; top:50%; left:50%; width:50%; height:2px; background-color:#fff;}
.ev_layer .triger button.close::before {transform:translate(-50%,-50%) rotate(45deg);}
.ev_layer .triger button.close::after {transform:translate(-50%,-50%) rotate(-45deg);}
.ev_layer .triger button.close span {font-size:0;}
.ev_layer .triger.active button.open {display:none;}
.ev_layer .triger.active button.close {display:block;}

.ev_layer.leftTop .triger {top:30px; left:20px;}
.ev_layer.rightTop .triger {top:30px; right:20px;}
.ev_layer.leftBottom .triger {bottom:20px; left:20px;}
.ev_layer.rightBottom .triger {bottom:20px; right:20px;}

.ev_layer .content {position:fixed; top:50%; left:50%; width:80%; max-width:324px; background-color:#fff; border-radius:10px; box-shadow:0 0 5px rgba(0,0,0,0.5); overflow:hidden; z-index:3; transform: translateX(-50%) translateY(-50%);}
.ev_layer .content.ev_bounceInUp {animation:ev_bounceInUp 0.34s 1;}

.ev_layer .ev_wobble {transform-origin:50% 80%; animation:ev_wobble 0.8s 2; animation-delay:1s;}
.ev_layer .ev_floating {animation-name:ev_floating; animation-timing-function: ease; animation-duration: 1s; animation-iteration-count:infinite;}

@keyframes ev_bounceInUp { 0% {opacity:0; transform:translate(-50%, -30%)} 50% {opacity:0.8; transform:translate(-50%, -55%)} 100% {opacity:1; transform:translate(-50%, -50%)} }
/* @keyframes ev_bounceInUp { 0% {opacity:0; transform:rotate(15deg) translate(0px, 30px)} 50% {opacity:0.8; transform:rotate(-2deg) translate(0px, -10px)} 100% {opacity:1; transform:rotate(0deg) translate(0px, 0px)} } */
@keyframes ev_floating {50% {transform:translateY(-3px);}}
@keyframes ev_wobble { 20% {transform:rotate(3.5deg);} 40% {transform:rotate(-3.5deg);} 60% {transform:rotate(3.5deg);} 80% {transform:rotate(-3.5deg);} 100% {transform:rotate(0deg);} }

.ev_layer .content div.img img {width:100%; vertical-align:top;}
.ev_layer .content div.con {padding:1.25em;}
.ev_layer .content div.con .inwrap li {display:flex; /* margin-bottom:0.25em; */ font-size:0.825em; line-height:1.57143;}
.ev_layer .content div.con .inwrap span.tit {width:26%; margin-right:0.5em; color:#333; font-weight:600;}
.ev_layer .content div.con .inwrap span.txt {flex:1; color:#666;}

.ev_layer .content .evBtn {display:block; text-align:center;}
.ev_layer .content .evBtn button,
.ev_layer .content .evBtn a {display:block; width:100%; height:3em; margin:0 auto; background-color:#222; border:0 none; border-radius:100px; color:#fff; font-size:1em; font-weight:500; letter-spacing:0;text-decoration:none;}
.ev_layer .content .evBtn a {line-height:3em;}

.ev_layer .content div.close {/*position:absolute; top:0.75em; right:0.75em; width:26px; height:26px; background-color:rgba(255,255,255,0.4); border-radius:100%;*/height:20px; color:#999; font-size:0.875em; line-height:20px; border-bottom:1px solid #999;}

.ev_layer .content .today {display:flex; justify-content:space-between; align-content:center; position:relative; padding:12px 10px; background-color: #f1f1f1; line-height:1;}

.ev_layer .ev_chk {display:block; position:relative; padding-left:1.25em; cursor:pointer; line-height:1; letter-spacing:0; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;}
.ev_layer .ev_chk .txt {margin-left:0.25em; color:#999; font-size:0.875em;}
.ev_layer .ev_chk input {position:absolute; opacity:0; cursor:pointer; height:0; width:0;}
.ev_layer .ev_chk .checkmark {display:flex; justify-content:center; align-items:center; position:absolute; top:0; left:0; height:1.25em; width:1.25em; background-color:#ccc; border-radius:100%;}
.ev_layer .ev_chk input:checked ~ .checkmark {background-color: var(--main-color);}
.ev_layer .ev_chk .checkmark:after {content:""; display:inline-block; width:40%; height:70%; margin-top:-26%; border:solid #fff; border-width:0 2px 2px 0; -webkit-transform: rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg) translateX(1px) translateY(0);}
.ev_layer .ev_chk input:checked ~ .checkmark:after {display: inline-block;}

@media screen and (max-width:320px) {
	.ev_layer {font-size:14px;}
}



/* 메인 배너 팝업 */
.layer.bnrPage {}
.layer.bnrPage div.dim {position:fixed; top:0; right:0; bottom:0; left:0; background-color:rgba(0,0,0,0.5); z-index:11;}
.layer.bnrPage div.layer_inner {position:fixed; top:1.5em; right:1.25em; bottom:1.5em; left:1.25em; z-index:12; overflow-y:auto;}
.layer.bnrPage div.layer_inner .layerBtm {position:sticky; bottom:0; left:0; width:100%; background-color:#ff6600;}
.layer.bnrPage div.layer_inner .layerBtm .btnGroup {display:flex; grid-gap:10px; justify-content:space-between; position:absolute; bottom:0; left:0; width:100%; padding:0 10px 20px;}
.layer.bnrPage div.layer_inner .layerBtm .btnGroup div {width:100%;}
.layer.bnrPage div.layer_inner .layerBtm .btnGroup div button {width:100%; height:47px; border:1px solid #212121; border-radius:10px;}
.layer.bnrPage div.layer_inner .layerBtm .btnGroup div button span {font-weight:bold;}
.layer.bnrPage div.layer_inner .layerBtm .btnGroup div button.btn_next {background-color:#212121; color:#fff; box-shadow:0 5px 20px rgba(0,0,0,0.3);}
.layer.bnrPage div.layer_inner .layerBtm .btnGroup div button.btn_close {background-color:#fff; color:rgba(0,0,0,0.5);}
.layer.bnrPage div.layer_inner div.close {position:sticky; top:0; right:0; width:100%; height:0;}
.layer.bnrPage div.layer_inner div.close button.btnClose {position:absolute; top:10px; right:10px; width:48px; height:48px; background-color:#000; border-radius:100%;}
.layer.bnrPage div.layer_inner div.close button.btnClose::before,
.layer.bnrPage div.layer_inner div.close button.btnClose::after {content:""; display:block; position:absolute; top:50%; left:50%; width:50%; height:1px; background-color: #fff;}
.layer.bnrPage div.layer_inner div.close button.btnClose::before {transform:translate(-50%,-50%) rotate(45deg);}
.layer.bnrPage div.layer_inner div.close button.btnClose::after {transform:translate(-50%,-50%) rotate(-45deg);}
@media screen and (min-width:720px) {
	.layer.bnrPage div.layer_inner {max-width:720px; margin:0 auto;}
}



/* 무료페이지 css */
.wrap.free header.header {margin-bottom:0;}
.free_bnr_wrap {height:69.44444vw; overflow-y:hidden;}
.free_bnr_wrap .item {position:relative; height:69.44444vw;}
.free_bnr_wrap .item dl {position:absolute; bottom:4.30555vw; left:0; width:100%; font-family:'tahoma'; text-align:center;}
.free_bnr_wrap .item dl dt {display:flex; justify-content:center; align-items:center;}
.free_bnr_wrap .item dl dt strong {color:#f25c24; color:#ff1d1d; font-size:2.375em; font-weight:bold; letter-spacing:-0.05em;}
.free_bnr_wrap .item dl dt span {padding-left:0.1em; font-size:1.375em; font-weight:bold;}
.free_bnr_wrap .item dl dd {margin-top:1em; color:#aaa; font-size:0.5em;}
@media screen and (min-width:720px) {
	.free_bnr_wrap {height:500px;}
	.free_bnr_wrap .item {height:500px;}
	.free_bnr_wrap .item dl {bottom:30px;}
}

.free_item-list {color:#fff;}
.free_item-list .item {padding:0 1.125em;}
.free_item-list .item {margin-top:0.75em;}
.free_item-list .item .box {padding:1.375em 1.0625em 1.625em; border-radius:10px;}
.free_item-list .item .box.boxColor1 {background-color:#cbb386;}
.free_item-list .item .box.boxColor2 {background-color:#7ba8ba;}
.free_item-list .item .box.boxColor3 {background-color:#879bce;}
.free_item-list dl.info {display:flex; align-items:center; justify-content:space-between; padding-bottom:1.125em; color:#fff; border-bottom:1px solid rgba(255,255,255,0.2);}
.free_item-list dl.info dt {flex:1; font-size:0.9375em;}
.free_item-list dl.info dd {display:flex; align-items:center; position:relative;}
.free_item-list dl.info dd.before {position:relative; margin-right:0.35714em; padding-right:1em; color:rgba(255,255,255,0.7); font-size:0.875em;}
.free_item-list dl.info dd.before::after {content:""; display:block; position:absolute; right:0; top:50%; width:0.4em; height:0.4em; border-width:1px 1px 0 0; border-style:solid; border-color:#fff; transform:translate(-50%) rotate(45deg); transform-origin:100% 0;}
.free_item-list dl.info + div {padding-top:1.61538em; font-size:0.8125em; line-height:1.76923em;}

.sectionTitle.free {}
.sectionTitle.free {display:flex; justify-content:space-between; width:100%;}
.sectionTitle.free div.title {font-size:1.25em;}

.stock_order.free {}
.stock_order.free button{background-color:#111;}








/* 포트폴리오 단위 */
.portfolio_unit {padding:0 1.25em; text-align:right; font-size:0.875em; color:#aaa;}



/* 상세보기 레이어팝업 */
.layer.detail {display:block; position:fixed; top:0; right:0; bottom:0; left:0; width:100%; max-width:720px; margin:0 auto; overflow-y:auto; background-color: #fff; z-index:20}
.layer.detail hr {display:block !important; width:100%; height:8px; background-color: #f5f5f5; border:0;}
.detail_top {padding:0 20px 26px 20px;}
.detail_top dl.tit {padding-bottom:14px; border-bottom:1px solid #e6e6e6}
.detail_top dl.tit dt {font-size:20px; line-height:29px; font-weight:700;}
.detail_top dl.tit dd {margin-top:2px;}
.detail_top dl.tit dd span {display:inline-block; position:relative; font-size:12px; line-height:1.5em; vertical-align:top;}
.detail_top dl.tit dd span + span {margin-left:5px; padding:0 5px;}
.detail_top dl.tit dd span + span::before {content:""; display:block; position:absolute; top:50%; left:0; width:1px; height:40%; background-color:#707070; transform:translateY(-50%);}

.detail_top .dl_table {padding:14px 0; border-bottom:1px solid #e6e6e6;}
.detail_top .table {display:flex; justify-content:space-between; align-items:center;}
.detail_top .table + dl.table {margin-top:6px;}
.detail_top .table dt {color:#555; font-size:14px; line-height:20px;}
.detail_top .table dd {color:#000; font-size:14px; line-height:20px; font-weight:500;}

.detail_top .blank {height:186px; margin-top:14px; background-color:#ebebeb;}

.detail_top p {padding-top:14px; color:#333; font-size:12px; line-height:16px;}
.detail_graph {padding:26px 20px;}
.detail_graph h3.tit {color:#333333; font-size:16px; line-height:1.5em; font-weight:500;}
.detail_graph div.graph_img {margin-top:14.5px;}
.layer.detail .layer_inner header {height:48px; text-align:center;;}
.layer.detail .layer_inner .close {position:absolute; top:0; right:0;}
.layer.detail .layer_inner .close button {display:block; position:relative; width:48px; height:48px; background-color: #fff; color:transparent; overflow:hidden;}
.layer.detail .layer_inner .close button::before,
.layer.detail .layer_inner .close button::after {content:""; display:block; position:absolute; top:50%; left:50%; width:50%; height:2px; background-color: #000; border-radius:2px;}
.layer.detail .layer_inner .close button::before {transform:translate(-50%,-50%) rotate(45deg);}
.layer.detail .layer_inner .close button::after {transform:translate(-50%,-50%) rotate(-45deg);}